[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask = "*"
bcrypt = "*"
flask-cors = "*"
flask-bcrypt = "*"
flask-marshmallow = "*"

[dev-packages]

[requires]
python_version = "3"
